USE [master]
GO
/****** Object:  Database [WebDB]    Script Date: 07/06/2021 3:21:25 PM ******/
CREATE DATABASE [WebDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WebDB.mdf' , SIZE = 5312KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WebDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WebDB_log.ldf' , SIZE = 1856KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 07/06/2021 3:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 07/06/2021 3:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](250) NOT NULL,
	[Alias] [varchar](250) NOT NULL,
	[Images] [nvarchar](500) NULL,
	[Author] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configure]    Script Date: 07/06/2021 3:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configure](
	[ConfigID] [int] IDENTITY(1,1) NOT NULL,
	[Logo] [nvarchar](256) NULL,
	[Favicon] [nvarchar](256) NULL,
	[NameCompany] [nvarchar](256) NULL,
	[Description] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](50) NULL,
	[EmailReceive] [nvarchar](50) NULL,
	[Phone] [nvarchar](11) NULL,
	[Hotline] [nvarchar](150) NULL,
	[Map] [nvarchar](max) NULL,
	[FanpageFacebook] [nvarchar](max) NULL,
	[IconFacebook] [nvarchar](max) NULL,
	[IconTwiiter] [nvarchar](max) NULL,
	[IconInstagram] [nvarchar](max) NULL,
	[IconYoutube] [nvarchar](max) NULL,
	[IconGoogle] [nvarchar](max) NULL,
	[MetaTitle] [nvarchar](250) NULL,
	[MetaKeyword] [nvarchar](250) NULL,
	[MetaDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Configure] PRIMARY KEY CLUSTERED 
(
	[ConfigID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 07/06/2021 3:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](250) NOT NULL,
	[Email] [varchar](250) NOT NULL,
	[Phone] [varchar](11) NOT NULL,
	[Content] [ntext] NOT NULL,
	[ViewStatus] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Contact] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 07/06/2021 3:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerID] [int] IDENTITY(1,1) NOT NULL,
	[customerName] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](250) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Phone] [varchar](11) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Customer] PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Home]    Script Date: 07/06/2021 3:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Home](
	[HomeID] [int] IDENTITY(1,1) NOT NULL,
	[Banner_1] [nvarchar](250) NULL,
	[Link_banner_1] [nvarchar](250) NULL,
	[Banner_2] [nvarchar](250) NULL,
	[Link_banner_2] [nvarchar](250) NULL,
	[Banner_3] [nvarchar](250) NULL,
	[Link_banner_3] [nvarchar](250) NULL,
	[Banner_4] [nvarchar](250) NULL,
	[Link_banner_4] [nvarchar](250) NULL,
	[Collection1_Status] [bit] NOT NULL,
	[title_category1] [nvarchar](250) NULL,
	[Collection_home1] [int] NULL,
	[button_more1] [nvarchar](250) NULL,
	[Collection2_Status] [bit] NOT NULL,
	[title_category2] [nvarchar](250) NULL,
	[Banner_Collection2] [nvarchar](250) NULL,
	[Banner_Collection2_Link] [nvarchar](250) NULL,
	[Collection_home2] [int] NULL,
	[button_more2] [nvarchar](250) NULL,
	[title_left2] [nvarchar](250) NULL,
	[Collection_left2] [int] NULL,
	[button_more_left2] [nvarchar](250) NULL,
	[Collection3_Status] [bit] NOT NULL,
	[title_category3] [nvarchar](250) NULL,
	[Banner_Collection3] [nvarchar](250) NULL,
	[Banner_Collection3_Link] [nvarchar](250) NULL,
	[Collection_home3] [int] NULL,
	[button_more3] [nvarchar](250) NULL,
	[title_right3] [nvarchar](250) NULL,
	[Collection_right3] [int] NULL,
	[button_more_right3] [nvarchar](250) NULL,
	[Collection4_Status] [bit] NOT NULL,
	[title_category4] [nvarchar](250) NULL,
	[Banner_Collection4] [nvarchar](250) NULL,
	[Banner_Collection4_Link] [nvarchar](250) NULL,
	[Collection_home4] [int] NULL,
	[button_more4] [nvarchar](250) NULL,
	[title_left4] [nvarchar](250) NULL,
	[Collection_left4] [int] NULL,
	[button_more_left4] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.Home] PRIMARY KEY CLUSTERED 
(
	[HomeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageProduct]    Script Date: 07/06/2021 3:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageProduct](
	[ImageProductID] [uniqueidentifier] NOT NULL,
	[FileImages] [nvarchar](max) NULL,
	[ProductID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ImageProduct] PRIMARY KEY CLUSTERED 
(
	[ImageProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuNavigation]    Script Date: 07/06/2021 3:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuNavigation](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[Sequence] [int] NULL,
	[MenuName] [nvarchar](50) NOT NULL,
	[IconMenu] [nvarchar](max) NULL,
	[MenuParents] [int] NOT NULL,
	[PageStyle] [int] NOT NULL,
	[FormatPage] [int] NULL,
	[GroupLink] [int] NULL,
	[PageContent] [ntext] NULL,
	[PageLink] [nvarchar](250) NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.MenuNavigation] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 07/06/2021 3:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[customerName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Phone] [varchar](11) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PaymentID] [int] NOT NULL,
	[TotalMoney] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[ViewStatus] [bit] NOT NULL,
	[Status] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.Order] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 07/06/2021 3:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[orderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[orderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quanlity] [int] NOT NULL,
	[TotalProduct] [real] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetail] PRIMARY KEY CLUSTERED 
(
	[orderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 07/06/2021 3:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentName] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 07/06/2021 3:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](250) NOT NULL,
	[Alias] [varchar](250) NOT NULL,
	[Price] [decimal](18, 2) NULL,
	[PriceSale] [decimal](18, 2) NULL,
	[Images] [nvarchar](max) NULL,
	[Quanlity] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[DescriptShort] [nvarchar](max) NULL,
	[Content] [ntext] NULL,
	[Author] [nvarchar](max) NULL,
	[MetaDescription] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slide]    Script Date: 07/06/2021 3:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slide](
	[SliderID] [int] IDENTITY(1,1) NOT NULL,
	[SortID] [int] NOT NULL,
	[SliderName] [nvarchar](250) NULL,
	[Description] [nvarchar](max) NULL,
	[Images] [nvarchar](max) NULL,
	[URL] [nvarchar](250) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Slide] PRIMARY KEY CLUSTERED 
(
	[SliderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 07/06/2021 3:21:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](250) NOT NULL,
	[Fullname] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](250) NULL,
	[Email] [varchar](50) NOT NULL,
	[Address] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Alias], [Images], [Author], [CreatedAt], [Status]) VALUES (1, N'Apple', N'apple', N'/Upload/Images/upload_5e7c53b9db15460a9da5a6988850a3e3_grande.jpg', N'Admin', CAST(N'2018-01-17T22:47:26.000' AS DateTime), 1)
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Alias], [Images], [Author], [CreatedAt], [Status]) VALUES (2, N'Samsung', N'samsung', N'/Upload/Images/635918156584359185_s7-g1 - Copy.jpg', N'Admin', CAST(N'2018-01-17T22:47:32.000' AS DateTime), 1)
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Alias], [Images], [Author], [CreatedAt], [Status]) VALUES (3, N'Huawei', N'huawei', N'/Upload/Images/upload_25b6a618a8c34d25b1543b16d1104003_grande.jpg', N'Admin', CAST(N'2018-01-20T18:28:21.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Configure] ON 

SET IDENTITY_INSERT [dbo].[Configure] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ContactID], [FullName], [Email], [Phone], [Content], [ViewStatus], [CreatedAt]) VALUES (2, N'Lã Nam', N'nam.darkstar@gmail.com', N'0969722350', N'ehtrgdfsbdfvsxc', 0, CAST(N'2021-02-02T22:25:43.050' AS DateTime))
INSERT [dbo].[Contact] ([ContactID], [FullName], [Email], [Phone], [Content], [ViewStatus], [CreatedAt]) VALUES (3, N'Lã Hoành Nam', N'lanam.990704@gmail.com', N'0944568471', N'iun skys', 1, CAST(N'2021-02-02T22:31:16.417' AS DateTime))
INSERT [dbo].[Contact] ([ContactID], [FullName], [Email], [Phone], [Content], [ViewStatus], [CreatedAt]) VALUES (4, N'Tài Lê', N'Taile@gmail.com', N'0368647083', N'sc', 0, CAST(N'2021-02-02T22:35:13.737' AS DateTime))
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customerID], [customerName], [Email], [Password], [Address], [Phone], [CreatedAt], [Status]) VALUES (3, N'Tai Le', N'taile@gmail.com', N'123456', N'Ben Tre', N'0944568471', CAST(N'2021-06-07T00:39:27.533' AS DateTime), 1)
INSERT [dbo].[Customer] ([customerID], [customerName], [Email], [Password], [Address], [Phone], [CreatedAt], [Status]) VALUES (4, N'Nam La', N'17dh110921@st.huflit.edu.vn', N'123456', N'D2', N'0969722350', CAST(N'2021-06-07T00:39:47.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Home] ON 

SET IDENTITY_INSERT [dbo].[Home] OFF
GO
INSERT [dbo].[ImageProduct] ([ImageProductID], [FileImages], [ProductID]) VALUES (N'f9b92dd2-9dfb-e711-a742-2047476e9bf2', N'x-gray_2996f01ef5a345fe8550e1b132016831_-_Copy.jpg', 2)
INSERT [dbo].[ImageProduct] ([ImageProductID], [FileImages], [ProductID]) VALUES (N'fab92dd2-9dfb-e711-a742-2047476e9bf2', N'x-gray_2996f01ef5a345fe8550e1b132016831.jpg', 2)
INSERT [dbo].[ImageProduct] ([ImageProductID], [FileImages], [ProductID]) VALUES (N'fbb92dd2-9dfb-e711-a742-2047476e9bf2', N'x-gray_f097e21c76c6407f9b459dfdc49ea99b_-_Copy.jpg', 2)
GO
SET IDENTITY_INSERT [dbo].[MenuNavigation] ON 

INSERT [dbo].[MenuNavigation] ([MenuID], [Sequence], [MenuName], [IconMenu], [MenuParents], [PageStyle], [FormatPage], [GroupLink], [PageContent], [PageLink], [CreatedAt], [Status]) VALUES (1, 1, N'Apple', N'/Upload/Images/icon_nav_46525.png', 0, 1, 1, 1, NULL, NULL, CAST(N'2018-01-18T17:08:34.000' AS DateTime), 1)
INSERT [dbo].[MenuNavigation] ([MenuID], [Sequence], [MenuName], [IconMenu], [MenuParents], [PageStyle], [FormatPage], [GroupLink], [PageContent], [PageLink], [CreatedAt], [Status]) VALUES (2, 6, N'Khuyến mại', N'/Upload/Images/icon_nav_76525.png', 0, 3, 0, NULL, NULL, N'/collection/2/2/apple', CAST(N'2018-01-19T21:56:06.000' AS DateTime), 1)
INSERT [dbo].[MenuNavigation] ([MenuID], [Sequence], [MenuName], [IconMenu], [MenuParents], [PageStyle], [FormatPage], [GroupLink], [PageContent], [PageLink], [CreatedAt], [Status]) VALUES (3, 7, N'Liên hệ', N'/Upload/Images/icon_nav_106525.png', 0, 4, 0, NULL, N'<p>csaxawxdắddddddd</p>
', NULL, CAST(N'2018-01-19T21:56:34.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[MenuNavigation] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([orderID], [customerName], [Address], [Phone], [Email], [PaymentID], [TotalMoney], [CreatedAt], [ViewStatus], [Status]) VALUES (1, N'Đỗ Duy Thắnng', N'Hà Nội', N'098766666', N'thang9xvp@gmail.com', 1, CAST(101800000.00 AS Decimal(18, 2)), CAST(N'2018-01-21T21:03:04.350' AS DateTime), 1, 2)
INSERT [dbo].[Order] ([orderID], [customerName], [Address], [Phone], [Email], [PaymentID], [TotalMoney], [CreatedAt], [ViewStatus], [Status]) VALUES (2, N'Nguyễn Thùy Chi', N'Hà Nội-Việt Nam', N'0983844433', N'thchi@gmail.com', 3, CAST(271900000.00 AS Decimal(18, 2)), CAST(N'2018-01-21T21:45:43.017' AS DateTime), 1, 3)
INSERT [dbo].[Order] ([orderID], [customerName], [Address], [Phone], [Email], [PaymentID], [TotalMoney], [CreatedAt], [ViewStatus], [Status]) VALUES (3, N'Nguyễn Minh Anh', N'Hà nội', N'09877773333', N'anhnguyen@gmail.com', 1, CAST(87400000.00 AS Decimal(18, 2)), CAST(N'2018-01-22T22:35:51.013' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([orderDetailID], [orderID], [ProductID], [Price], [Quanlity], [TotalProduct], [Status]) VALUES (1, 1, 3, CAST(0.00 AS Decimal(18, 2)), 2, 0, 1)
INSERT [dbo].[OrderDetail] ([orderDetailID], [orderID], [ProductID], [Price], [Quanlity], [TotalProduct], [Status]) VALUES (2, 1, 2, CAST(0.00 AS Decimal(18, 2)), 2, 0, 1)
INSERT [dbo].[OrderDetail] ([orderDetailID], [orderID], [ProductID], [Price], [Quanlity], [TotalProduct], [Status]) VALUES (3, 1, 5, CAST(0.00 AS Decimal(18, 2)), 2, 0, 1)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [PaymentName], [CreatedAt], [Status]) VALUES (1, N'Thanh toán khi giao hàng (COD)', CAST(N'2018-01-21T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Payment] ([PaymentID], [PaymentName], [CreatedAt], [Status]) VALUES (3, N'Giữ hàng tại cửa hàng', CAST(N'2018-02-22T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [Alias], [Price], [PriceSale], [Images], [Quanlity], [CategoryID], [DescriptShort], [Content], [Author], [MetaDescription], [CreatedAt], [Status]) VALUES (2, N'iPhone X 256GB Space Gray (Hàng bảo hành chính Hãng)', N'iphone-x-256gb-space-gray-hang-bao-hanh-chinh-hang', CAST(24000000.00 AS Decimal(18, 2)), CAST(25000000.00 AS Decimal(18, 2)), N'/Upload/ImageDes/images/x-gray_f097e21c76c6407f9b459dfdc49ea99b.jpg', 12, 1, NULL, NULL, N'Admin', N'thắng', CAST(N'2018-01-17T22:48:12.000' AS DateTime), 1)
INSERT [dbo].[Product] ([ProductID], [ProductName], [Alias], [Price], [PriceSale], [Images], [Quanlity], [CategoryID], [DescriptShort], [Content], [Author], [MetaDescription], [CreatedAt], [Status]) VALUES (3, N'Samsung Note 8 64GB', N'samsung-note-8-64gb', CAST(21000000.00 AS Decimal(18, 2)), CAST(29000000.00 AS Decimal(18, 2)), N'/Upload/ImageDes/images/635918156584359185_s7-g1.jpg', 12, 2, NULL, NULL, N'Admin', NULL, CAST(N'2018-01-17T23:26:49.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Slide] ON 

INSERT [dbo].[Slide] ([SliderID], [SortID], [SliderName], [Description], [Images], [URL], [Status]) VALUES (1, 1, N'Slide 1', N'Lên đời Galaxy S8|S8 Plus', N'/Upload/Images/slider_1_image.jpg', N'#', 1)
INSERT [dbo].[Slide] ([SliderID], [SortID], [SliderName], [Description], [Images], [URL], [Status]) VALUES (2, 2, N'Slide 2', N'OPPO F3 - Giá ngon, quà HOT', N'/Upload/Images/slider_2_image.jpg', N'#', 1)
INSERT [dbo].[Slide] ([SliderID], [SortID], [SliderName], [Description], [Images], [URL], [Status]) VALUES (3, 3, N'Slide 3', N'Sinh viên trả góp đến S.A.M Shop
									', N'/Upload/Images/slider_3_image.jpg', N'#', 1)
SET IDENTITY_INSERT [dbo].[Slide] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Username], [Password], [Fullname], [Image], [Email], [Address], [Phone], [CreatedAt], [Status]) VALUES (1, N'Tai123', N'e1adc3949ba59abbe56e057f2f883e', N'Tài Lê', N'/Upload/Default/man-avatar.jpg', N'taile@gmail.com', N'hcm', N'1324567', NULL, 1)
INSERT [dbo].[User] ([UserID], [Username], [Password], [Fullname], [Image], [Email], [Address], [Phone], [CreatedAt], [Status]) VALUES (2, N'Admin', N'fcea92f7412b5da7be0cf42b8c93759', N'Admin', N'/Upload/Default/man-avatar.jpg', N'admin@gmail.com', N'HCM', N'1233454', NULL, 1)
INSERT [dbo].[User] ([UserID], [Username], [Password], [Fullname], [Image], [Email], [Address], [Phone], [CreatedAt], [Status]) VALUES (4, N'lanam', N'123', N'Lã Nam', NULL, N'nam.darkstar@gmail.com', N'HCM', N'0969722350', NULL, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Alias]    Script Date: 07/06/2021 3:21:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Alias] ON [dbo].[Category]
(
	[Alias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 07/06/2021 3:21:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[ImageProduct]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentID]    Script Date: 07/06/2021 3:21:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentID] ON [dbo].[Order]
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_orderID]    Script Date: 07/06/2021 3:21:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_orderID] ON [dbo].[OrderDetail]
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 07/06/2021 3:21:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[OrderDetail]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Alias]    Script Date: 07/06/2021 3:21:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Alias] ON [dbo].[Product]
(
	[Alias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 07/06/2021 3:21:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[Product]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Username]    Script Date: 07/06/2021 3:21:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Username] ON [dbo].[User]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ImageProduct] ADD  DEFAULT (newsequentialid()) FOR [ImageProductID]
GO
ALTER TABLE [dbo].[ImageProduct]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ImageProduct_dbo.Product_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImageProduct] CHECK CONSTRAINT [FK_dbo.ImageProduct_dbo.Product_ProductID]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Order_dbo.Payment_PaymentID] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payment] ([PaymentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_dbo.Order_dbo.Payment_PaymentID]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetail_dbo.Order_orderID] FOREIGN KEY([orderID])
REFERENCES [dbo].[Order] ([orderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_dbo.OrderDetail_dbo.Order_orderID]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetail_dbo.Product_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_dbo.OrderDetail_dbo.Product_ProductID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.Category_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.Category_CategoryID]
GO
USE [master]
GO
